<div class="weather-wrapper">
  <h1>Local Cast Weather</h1>
  <p>Your city, your forecast, right now!</p>
  <p>Enter a city (eg. "London", "London, US"</p>
  <div>
    <label for="city"></label>
    <input
      id="city"
      name="city"
      type="text"
      #cityInput
      (input)="getWeather(cityInput.value)"
    />
  </div>

  <div *ngIf="isLoading" class="loading">Loading...</div>

  <div *ngIf="weather$ | async as weather" class="weather-info">
    <h2>Current weather</h2>
    <p>
      {{ weather.cityName }}, {{ weather.country }},
      {{ currentDate | date : "EEEE, MMMM d, y" }}
    </p>
    <img
      [src]="'http://openweathermap.org/img/w/' + weather.iconCode + '.png'"
      alt="Weather Icon"
    />
    <div>{{ weather.description }}</div>
    <div>{{ weather.temperature }} &deg;C</div>
  </div>

  <div *ngIf="!weather$ && !isLoading" class="default-info">
    <h2>Current weather</h2>
    {{ currentDate | date : "EEEE, MMMM d, y" }}
    0 &deg;C
  </div>
</div>
